@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins' , sans-serif;
}

section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--primary-color);
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo{
	position: relative;
	max-width:80px;

}

header ul{
	position: relative;
	display: flex;
}

header ul li{
	list-style: none;
}

header ul li a{
	display: inline-block;
	color: var(--secondary-color);
	font-weight:400;
	margin-left:40px;
	text-decoration:none;
}

.content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .textBox{
	position: relative;
	max-width: 600px;
}
.content .textBox h2{
	color: var(--secondary-color);
	font-size:4em;
	line-height:1.4em;
	font-weight:  900;
}
.content .textBox h2 span{
	color: #ff0000;
	font-size:1.2em;
	font-weight: 900;
}
.content .textBox p{
	color: var(--secondary-color);
}
.content .textBox a{
	 display: inline-block;
	 margin-top: 20px;
	 padding: 8px 20px;
	 background: #ff0000;
	 color: var(--primary-color);
	 border-radius: 40px;
	 font-weight: 500;
	 letter-spacing: 1px;
	 text-decoration: none;
}
.content .imgBox{
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
	margin-top: 50px;
}
.thumb{
	position: absolute;
	left: 50%;
	bottom: 20px; 
	transform: translateX(-50%);
	display: flex;
}
.thumb li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}
.thumb li:hover{
	transform: translateY(-15px);
}
.thumb li img{
	max-width: 60px;
}
.circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff0000;
	clip-path: circle(400px at right 401px);
}
.sombre{
	height:20px;
	width:20px;
	cursor: pointer;
}
:root{
	  --primary-color: #fff;
	  --secondary-color: #333;
}
.dark-theme{
      --primary-color: #333;
	  --secondary-color: #fff;
}















